config.log
config.status
configure
ignore
install/
lib/libcruise-posix.a
lib/libcruise.so
lib/lookup3.o
lib/lookup3.po
lib/lookup8.o
lib/lookup8.po
lib/cruise-container.o
lib/cruise-container.po
lib/cruise-fixed.o
lib/cruise-fixed.po
lib/cruise-stack.o
lib/cruise-stack.po
lib/cruise-stdio.o
lib/cruise-stdio.po
lib/cruise-sysio.o
lib/cruise-sysio.po
lib/cruise.o
lib/cruise.po
cruise-config
cruise-runtime-config.h
tests/a.out
tests/sizes
tests/test1
tests/test_fopen
tests/test_fprintf
tests/test_memcpy
tests/test_ramdisk
tests/test_scanf
tests/test_cruise.c
tests/test_truncate
tests/test_ungetc
tests/test_writeread
tests/test_wscanf
