config.log
config.status
configure
ignore
install/
lib/libscrmfs-posix.a
lib/libscrmfs.so
lib/lookup3.o
lib/lookup3.po
lib/lookup8.o
lib/lookup8.po
lib/scrmfs-container.o
lib/scrmfs-container.po
lib/scrmfs-fixed.o
lib/scrmfs-fixed.po
lib/scrmfs-stack.o
lib/scrmfs-stack.po
lib/scrmfs-stdio.o
lib/scrmfs-stdio.po
lib/scrmfs-sysio.o
lib/scrmfs-sysio.po
lib/scrmfs.o
lib/scrmfs.po
scrmfs-config
scrmfs-runtime-config.h
tests/a.out
tests/sizes
tests/test1
tests/test_fopen
tests/test_fprintf
tests/test_memcpy
tests/test_ramdisk
tests/test_scanf
tests/test_scrmfs.c
tests/test_truncate
tests/test_ungetc
tests/test_writeread
tests/test_wscanf
